body
{
  background-color: gray
}
footer
{
  margin-top: 30px
}
/* img
{
  border-radius: 10px;
}*/
#contenedor
{
  font-family: helvetica;
  font-size: 16px
}
#inf_personal
{
  display: block;
  margin: 0 auto;
}
.enlace
{
  color: red;
}
/* # se usa para enlaces dentro de la misma página
a[href^='#']
{
  color: red;
}*/
img[src$='.svg']
{
  border-radius: 50px;
}
img[src$='.jpg'],img[src$='.png']
{
  border: 2px solid blue;
  border-radius: 5px;
}
